[submodule "packages/micro-tools"]
	path = packages/micro-tools
	url = https://github.com/micro-scaff/micro-tools.git
[submodule "packages/learn"]
	path = packages/learn
	url = https://github.com/Not-have/learn.git
